<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @RenderSection("head",false)
</head>
<body>
    <div>
        <table border="1" style="width:100%">
            <tr style="background-color:deepskyblue;color:red;">
              <td>
                <table>
                    <tr>
                        <td>
                            <img style="width:100px;height:100px;" src="~/Content/rose.jpg"/>
                        </td>
                        <td>
                            <h1>RI-Tech</h1>
                        </td>
                     </tr>
                    <tr>
                        <td style="background-color:gold;color:steelblue;">@RenderSection("news",false)</td>
                        </tr>
                    <tr>
                        <td>
                            <a href="/Test/Index" style="background-color:aliceblue;color:hotpink;padding:2px;margin:2px;">Home</a>
                            <a href="/Test/about" style="background-color:aliceblue;color:hotpink;padding:2px;margin:2px;">About</a>
                            <a href="/Test/contact" style="background-color:aliceblue;color:hotpink;padding:2px;margin:2px;">Contact</a>
                        </td>
                    </tr>
                 </table>
              </td>
            </tr>
            <tr>
                <td style="background-color:antiquewhite;color:saddlebrown;">@RenderBody()
                </td>
            </tr>
            <tr>
                <td style="background-color:hotpink;color:chartreuse;">
                    &copy;All rights reserved to RI-Tech
                </td>
                </tr>
            <tr>
                <td>
                    <table style="background-color:navajowhite;color:fuchsia;width:100%;">
                        <tr>
                            <td style="background-color:navajowhite;color:fuchsia;">
                                first
                                </td>
                            <td style="background-color:navajowhite;color:fuchsia;">second</td>
                            </tr>
                        <tr >
                            <td style="background-color:navajowhite;color:fuchsia;">
                                @RenderSection("first",false)
                                </td>
                            <td style="background-color:navajowhite;color:fuchsia;">
                                @RenderSection("second",true)
                            </td>
                            </tr>
                        </table>
                </td>
                </tr>
            </table>
        
    </div>
</body>
</html>
