@model validation_ex.Models.Customer
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

    <body>
        <h2>Customer information</h2>
        <div>
            @using (Html.BeginForm())
            {
                <div>@Html.ValidationSummary(false)</div>

                <div>
                    @Html.LabelFor(p => p.CustomerId)
                    <div>
                        @Html.EditorFor(p => p.CustomerId)
                        @Html.ValidationMessageFor(p => p.CustomerId)
                    </div>
                </div>
                <div>
                    @Html.LabelFor(p => p.CustomerName)
                    <div>
                        @Html.EditorFor(p => p.CustomerName)
                        @Html.ValidationMessageFor(p => p.CustomerName)
                    </div>
                </div>
                <div>
                    @Html.LabelFor(p => p.Address)
                    <div>
                        @Html.EditorFor(p => p.Address)
                        @Html.ValidationMessageFor(p => p.Address)
                    </div>
                </div>
                <div>
                    @Html.LabelFor(p => p.EmailId)
                    <div>
                        @Html.EditorFor(p => p.EmailId)
                        @Html.ValidationMessageFor(p => p.EmailId)
                    </div>
                </div>
                <div>
                    @Html.LabelFor(p => p.PhoneNumber)
                    <div>
                        @Html.EditorFor(p => p.PhoneNumber)
                        @Html.ValidationMessageFor(p => p.PhoneNumber)
                    </div>
                </div>
                <div>
                    @Html.LabelFor(p => p.CreditLimit)
                    <div>
                        @Html.EditorFor(p => p.CreditLimit)
                        @Html.ValidationMessageFor(p => p.CreditLimit)
                    </div>
                </div>
                <div>
                    @Html.LabelFor(p => p.Password)
                    <div>
                        @Html.EditorFor(p => p.Password)
                        @Html.ValidationMessageFor(p => p.Password)
                    </div>
                </div>
                <div>
                    @Html.LabelFor(p => p.ConfirmPassword)
                    <div>
                        @Html.EditorFor(p => p.ConfirmPassword)
                        @Html.ValidationMessageFor(p => p.ConfirmPassword)
                    </div>
                </div>
                <div>
                    <input type="submit" value="Save" />
                </div>
            }
        </div>
    </body>
</html>
