@model partialviewchildactioncall.Models.student
<h2>
    last student information
</h2>
<div>
    <table border="1">
        <tr>
            <td>Student Id</td>
            <td>@Model.studentid</td>
            </tr>
        <tr>

            <td>Student Name</td>
            <td>@Model.studentname</td>
            </tr>
        <tr>
            <td>Student Address</td>
            <td>@Model.address</td>
            </tr>
        <tr>

            <td>Student Email Id</td>
            <td>@Model.emailid</td>
            </tr>
        <tr>

            <td>Student Mobile No</td>
            <td>@Model.phoneno</td>
        </tr>
    </table>
</div>

