@model IEnumerable<Curd_operations.Models.emp2>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>Employee Information</h2>
    <div> 
        @Html.ActionLink("Create New Employee","create","Test")
        <table border="1">
            
           <tr >
              <td colspan="3">
                   @using (Html.BeginForm("searchbyname","Test",FormMethod.Post))
                        {
                           @:Name:
                    <input type="text" name="empname"/>
                    <input type="submit" value="search"/>
                    }
            </td>
            <td colspan="4">
            @using(Html.BeginForm("searchbydept","Test",FormMethod.Post))
            {
                @:department:
                
                    @Html.DropDownList("deptid", "select dept")
                    <input type="submit" value="search"/>
                
            }
            </td>
           </tr>
                <tr>
                    <td>@Html.DisplayNameFor(p=>p.empid)</td>
                    <td>@Html.DisplayNameFor(p=>p.empname)</td>
                    <td>@Html.DisplayNameFor(p=>p.emailid)</td>
                    <td>@Html.DisplayNameFor(p=>p.address)</td>
                    <td>@Html.DisplayNameFor(p=>p.mobileno)</td>
                    <td>@Html.DisplayNameFor(p=>p.salary)</td>
                    <td>@Html.DisplayNameFor(p=>p.depttable2.deptname)</td>
                    
                </tr>
           
            @foreach(var temp in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(p=>temp.empid)</td>
                    <td>@Html.DisplayFor(p => temp.empname)</td>
                    <td>@Html.DisplayFor(p => temp.emailid)</td>
                    <td>@Html.DisplayFor(p => temp.address)</td>
                    <td>@Html.DisplayFor(p => temp.mobileno)</td>
                    <td>@Html.DisplayFor(p => temp.salary)</td>
                    <td>@Html.DisplayFor(p => temp.depttable2.deptname)</td>
                   
                    <td>@Html.ActionLink("Edit", "editdata", "Test", new {id=temp.empid},null)</td>
                    <td>@Html.ActionLink("Delete","delete","Test",new {id=temp.empid},null)</td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
