@model IEnumerable<signin_signout.Models.doctor>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("SignOut", "SignOut","ManagePatient")
    </p>
    <p>
        <h2>Welcome!@Session["patientname"]</h2>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table" border="1">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.doctorid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.doctorname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.qualification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.specialist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.emilid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phoneno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.password)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(model => item.doctorid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.doctorname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.qualification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.specialist)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emilid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phoneno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.password)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.doctorid }) |
                @Html.ActionLink("Details", "Details", new { id=item.doctorid }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.doctorid })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
