@model IEnumerable<validationUsingAnnotation_Ex.Models.emptbl>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>Employee Information</h2>
    
    <div>
       @Html.ActionLink("create new","create","Test")
        <table border="1">
            <tr>
                <td>@Html.DisplayNameFor(p => p.empid)</td>
                <td>@Html.DisplayNameFor(p => p.empname)</td>
                <td>@Html.DisplayNameFor(p => p.emailid)</td>
                <td>@Html.DisplayNameFor(p => p.address)</td>
                <td>@Html.DisplayNameFor(p => p.mono)</td>
                <td>@Html.DisplayNameFor(p => p.salary)</td>
                <td>@Html.DisplayNameFor(p => p.dept)</td>
            </tr>
            @foreach (var temp in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(p => temp.empid)</td>
                    <td>@Html.DisplayFor(p => temp.empname)</td>
                    <td>@Html.DisplayFor(p => temp.emailid)</td>
                    <td>@Html.DisplayFor(p => temp.address)</td>
                    <td>@Html.DisplayFor(p => temp.mono)</td>
                    <td>@Html.DisplayFor(p => temp.salary)</td>
                    <td>@Html.DisplayFor(p => temp.dept)</td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
